

<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Awards</title>
      <!--css styling -->
  <link rel="stylesheet" href="{% static './css/main.css'%}">

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

  <!-- bootstrap css -->
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<style>
    body{
    margin:20px;
    }

</style>
<body>
<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}"><h5>Dashboard</h5></a>
  </div>
</nav>

    <div class="card card-body">
        <br>
        <br>
        <div class="row justify-content-between">
            <div class="col">
              <h4>Award List</h4>
            </div>
            <div class="col col-md-1 text-right">
              <a href="{% url 'forms' %}" class="btn btn-primary  ">+Add</a>
            </div>

        </div>

    </div>
        <div class="table-settings mb-4">
            <div class="row align-items-center justify-content-between">
                <div class="col col-md-6 col-lg-3 col-xl-4">
                    <form action="{% url 'forms' %}" method="get">
                        <div class="input-group">
                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></span>
                            <input type="text" name="search" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </div>
                <div class="col-4 col-md-2 col-xl-1 pl-md-0 text-right">
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm icon-gray">
                                <span class="fas fa-cog"></span>
                            </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                            <span class="dropdown-item font-weight-bold text-dark">Show</span>
                            <a class="dropdown-item d-flex font-weight-bold" href="#">10 <span
                                    class="icon icon-small ml-auto"><span class="fas fa-check"></span></span></a>
                            <a class="dropdown-item font-weight-bold" href="#">20</a>
                            <a class="dropdown-item font-weight-bold" href="#">30</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Bill For</th>
                    <th>Issue Date</th>
                    <th>Due Date</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <!-- Item -->
                {% for Customer in customers %}
                        <tr class="item-row">
                            <td><span class="font-weight-bold">{{Customer.id}}</span></td>
                            <td><span class="font-weight-normal"></span>{{Customer.name}}</td>
                            <td><span class="font-weight-normal"></span>{{Customer.phone}}</td>
                            <td><span class="font-weight-normal"></span>{{Customer.email}}</td>
                            <td><span class="font-weight-bold">{{Customer.date_created}}</span></td>
                            <td>
                                <span class="font-weight-bold "></span>
                            </td>
                            <td>
                                <div class="btn-group">
                                    <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item edit_item">

                                            <span class="fas fa-edit mr-2"></span>Edit
                                        </a>
                                        <a class="dropdown-item text-danger delete_item">

                                            <span class="fas fa-trash-alt mr-2"></span>Remove
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
         </div>
</body>
</html>